<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT Conferences | Home</title>
    <!-- <link rel="stylesheet" href="./assets/font/fontawesome/css/all.min.css" /> -->
    <link rel="stylesheet" href="css/style.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./upcoming.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
  </head>
  <body>
    <div class="app">
      <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link current" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="upcoming">Upcoming Conferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="running">Running Conferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="over">Over Conferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="planning">Conference Planning</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="action-item">
            <div class="action-header">HOME</div>
          </div>
        </div>
        <div class="row m-3">
          <div class="search container-fluid col-md-6 offset-md-0">
            <form class="d-flex search-item" role="search" id="searchForm">
              <select class="form-control me-2" id="searchMode">
                <option value="title">Search by Title</option>
                <option value="venue">Search by Venue</option>
                <option value="startDate">Search by Start Date</option>
              </select>
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                id="searchInput"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>

        <div class="row">
          <table id="myTable2" class="table table-hover">
            <thead class="head-table">
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Conference</th>
                <th scope="col">
                  Title
                  <button
                    class="btn btn-outline-success"
                    type="button"
                    onclick="sortTable('title')"
                  >
                    &#8595;
                  </button>
                </th>
                <th scope="col">
                  Impact Score
                  <button
                    class="btn btn-outline-success"
                    type="button"
                    onclick="sortTable(0)"
                  >
                    &#8595;
                  </button>
                </th>
                <th scope="col">
                  Start Date
                  <button
                    class="btn btn-outline-success"
                    type="button"
                    onclick="sortTable('startDate')"
                  >
                    &#8595;
                  </button>
                </th>
                <th scope="col">
                  End Date
                  <button
                    class="btn btn-outline-success"
                    type="button"
                    onclick="sortTable('endDate')"
                  >
                    &#8595;
                  </button>
                </th>
                <th scope="col">
                  Venue
                  <button
                    class="btn btn-outline-success"
                    type="button"
                    onclick="sortTable(1)"
                  >
                    &#8595;
                  </button>
                </th>
              </tr>
            </thead>
            <tbody class="body-table design-title"></tbody>
          </table>
          <div class="pagination-container" id="pagination-container"></div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-text">IT Conferences</div>
      </div>
    </div>
  </body>
  <script>
    $("#pagination-container").pagination({
      dataSource: "http://localhost:8080/data/IT_Conferences/home?page=1",
      locator: "data",
      totalNumberLocator: function (response) {
        return response.totalConf;
      },
      pageSize: 10,
      afterPageOnClick: function (event, pageNumber) {
        loadPage(pageNumber);
      },
      afterPreviousOnClick: function (event, pageNumber) {
        loadPage(pageNumber);
      },
      afterNextOnClick: function (event, pageNumber) {
        loadPage(pageNumber);
      },
    });

    function loadPage(page) {
      const tableBody = $(".table tbody");
      tableBody.empty();

      $.ajax({
        url: "http://localhost:8080/data/IT_Conferences/home?page=" + page,
      })
        .then((result) => {
          displayData(result.data);
        })
        .catch((err) => {
          console.log("Error from server:", err);
        });
    }

    function displayData(displayedData) {
      const tableBody = $(".table tbody");
      tableBody.empty();

      if (Array.isArray(displayedData)) {
        for (let i = 0; i < displayedData.length; i++) {
          let element = displayedData[i];

          const rowHtml = `<tr>
          <td>${element.Rank}</td>
          <td>
              <img
                src="${element.Conference}"
                alt="img"
                class="table-item-img"
              />
          </td>
          <td>
              <a
                target="_blank"
                href="${element.Link2Conf}"
              >
                ${element.Title}
              </a>
          </td>
          <td>${element.ImpactScore}</td>
          <td class="color-green">${element.StartDate}</td>
          <td class="color-red">${element.EndDate}</td>

          <td>${element.Venue}</td>
      </tr>`;

          tableBody.append(rowHtml);
        }
      } else {
        console.error("displayedData is not an array:", displayedData);
      }
    }

    loadPage(1);

    document
      .getElementById("searchForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        const searchValue = document.getElementById("searchInput").value;
        const searchMode = document.getElementById("searchMode").value;
        // document.write(searchMode);

        loadPageSearch(1, searchValue, searchMode);

        if (searchValue) {
          $("#pagination-container").pagination({
            dataSource: `http://localhost:8080/data/IT_Conferences/home/search${
              searchMode.charAt(0).toUpperCase() + searchMode.slice(1)
            }?name=${searchValue}&page=1`,
            locator: "data",
            totalNumberLocator: function (response) {
              return response.totalConf;
            },
            pageSize: 10,
            afterPageOnClick: function (event, pageNumber) {
              loadPageSearch(pageNumber, searchValue, searchMode);
            },
            afterPreviousOnClick: function (event, pageNumber) {
              loadPageSearch(pageNumber, searchValue, searchMode);
            },
            afterNextOnClick: function (event, pageNumber) {
              loadPageSearch(pageNumber, searchValue, searchMode);
            },
          });
          loadPageSearch(1, searchValue);
        } else {
          loadPage(1);
          $("#pagination-container").pagination({
            dataSource: "http://localhost:8080/data/IT_Conferences/home?page=1",
            locator: "data",
            totalNumberLocator: function (response) {
              return response.totalConf;
            },
            pageSize: 10,
            afterPageOnClick: function (event, pageNumber) {
              loadPage(pageNumber);
            },
            afterPreviousOnClick: function (event, pageNumber) {
              loadPage(pageNumber);
            },
            afterNextOnClick: function (event, pageNumber) {
              loadPage(pageNumber);
            },
          });
        }
      });

    function loadPageSearch(page, searchValue, searchMode) {
      const tableBody = $(".table tbody");
      tableBody.empty();

      $.ajax({
        url: `http://localhost:8080/data/IT_Conferences/home/search${
          searchMode.charAt(0).toUpperCase() + searchMode.slice(1)
        }?name=${searchValue}&page=${page}`,
      })
        .then((result) => {
          // console.log(result)
          displayData(result.data);
        })
        .catch((err) => {
          console.log("Error from server:", err);
        });
    }

    function sortTable(n) {
      var table,
        rows,
        switching,
        i,
        x,
        y,
        shouldSwitch,
        dir,
        switchcount = 0;
      table = document.getElementById("myTable2");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < rows.length - 1; i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (n == 0) {
            if (dir == "asc") {
              if (Number(x.innerHTML) > Number(y.innerHTML)) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (Number(x.innerHTML) < Number(y.innerHTML)) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          } else if (n == 1) {
            if (dir == "asc") {
              const string1 = x.innerHTML.toLowerCase();
              const string2 = y.innerHTML.toLowerCase();
              const compareValue = string1.localeCompare(string2);
              if (compareValue == 1) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              const string1 = x.innerHTML.toLowerCase();
              const string2 = y.innerHTML.toLowerCase();
              const compareValue = string1.localeCompare(string2);
              if (compareValue == -1) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
</html>
